<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">請上傳.jpg檔!</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <h4 class="text-muted">正面設計圖</h4>
        <input type="file" name="file" ><br />
        <h4 class="text-muted">反面設計圖</h4>
        <input type="file" name="file2"><br /><br />
        <input type="submit" value="搜尋">
      </form>
      </div>
    </div>
  </body>
</html>
